<div class="container">
  <div class="row">
    <div class="mx-auto text-danger">
      <% if @user.errors.any? %>
        <%= @user.errors.count %>errors prohibited this obj from being saved:
        <%= @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto p-3">
      <h1>User info</h1>
        <%= form_with model:@user, local:true do |f| %>
          <label>Name</label>
          <br>
          <%= f.text_field :name, autofocus:true, id:"inputName", placeholder:"Name" %>
          <br>
          <lavel>Image</lavel>
          <br>
          <%= f.attachment_field :profile_image, placeholder:"Profile Image" %>
          <br>
          <label>Introduction</label>
          <br>
          <%= f.text_area :introduction, autofocus:true, placeholder:"Introduction" %>
          <br>
          <%= f.submit "Update User", class: "btn btn-secondary" %>
        <% end %>
    </div>
  </div>
</div>

